%h3= @article.title
%p= markdown(@article.body)

%row
  %p.text-right.text-muted
    = link_to t("helpers.link.article.edit"), edit_article_path(@article)
    = link_to t("helpers.link.article.destroy"), article_path(@article), method: 'delete', confirm: t("helpers.are_you_sure")
%ul
  - @article.members.each do |member|
    %li= link_to member.full_name, member
  