.row.header
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        - if user_signed_in?
          = link_to t("project_name"), big_tree_member_path(current_user), class: "navbar-brand"
        - else
          %p.navbar-text= t("project_name")
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to t("helpers.link.menu.articles"), articles_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %p.navbar-text
              = current_user.email
              = link_to t("devise.sessions.new.sign_out"), destroy_user_session_path, method: "delete"
          - else
            %li
              = link_to t("devise.sessions.new.sign_in"), new_user_session_path 

      / /.navbar-collapse
    / /.container-fluid