= simple_form_for @member, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { file: :horizontal_file_input } do |f|
  = f.input :sex, collection: [[t("male"), "male"], [t("female"), "female"]], as: :select, prompt: t("simple_form.labels.member.choose_sex")
  = f.input :last_name
  = f.input :first_name
  = f.input :middle_name
  = f.input :birth_date, as: :date, use_two_digit_numbers: true, use_month_numbers: true, start_year: 1700
  = f.input :death_date, as: :date, use_two_digit_numbers: true, use_month_numbers: true, start_year: 1700, include_blank: true
  = f.input :bio
  = f.input :image, as: :file
  = f.input :partner_id, as: :select, collection: Member.all.collect { |p| ["#{p.first_name} #{p.last_name}", p.id] }, include_blank: true
  = f.button :submit, input_html: { class: "btn btn-default btn-block" }