.row
  .col-md-4
    = image_tag @member.image.url, class: "member-image"
  .col-md-8
    %ul.list-unstyled
      %li= link_to @member.full_name, @member
      %li= @member.birth_date.strftime("#{t('helpers.label.member.birth_date')}: %d.%m.%Y")
      - if @member.death_date
        %li= @member.death_date.strftime("#{t('helpers.label.member.birth_date')}: %d.%m.%Y")
      - if @member.partner
        %li
        = "#{t('helpers.label.member.partner_id')}:"
        = link_to @member.partner.full_name, @member.partner